.button-group {
    display: flex; /* Используем flexbox для выравнивания кнопок */
    gap: 10px; /* Отступ между кнопками */
  }
  
  .input-group {
    display: flex;
     /* Выравнивание по центру по вертикали */
  }

  .input {
    flex: 1; /* Занять оставшееся пространство */
    margin-right: 0px; /* Отступ между полем ввода и кнопкой */
  }
  
  .button {
    margin: 0; /* Удалите отступы */
  }